@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
.App {
margin:auto;
display: block;
}

p{
  margin-left: 35%;
}

form{
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 35%;
}

label{
  margin-bottom: 20%;
  margin-right: 70%;
  font-family:  "Josefin Sans";
  color: rgba(189, 128, 15, 0.945);
  font-weight: 800;
  cursor:pointer;
}


.header img{
  height: 40px; 
  width: 40px;
  margin: 0 16px;
}


.header {
  background-color:#1976d2;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin: 0px;
  height: 60px;
  font-weight: 600;
}

.toolbar .links {
  margin-right: 40px;
  align-content: center;
  line-height: 24px;
  font-size: 16px;
}

.toolbar{
  display: flex;
  margin: 32px auto 32px;
  padding: 10px 16px;
  max-width: 700px;
  flex-direction: row;
  font-family:  "Josefin Sans";
  }

  .toolbar a{
    border: cornflowerblue;
    border-style: solid;
    padding: 0 10px;
    color: rgba(189, 128, 15, 0.945);
    
  }
  
.toolbar a:hover {
  color: #7d35f1;
  opacity: 0.8;
  border:#7d35f1;
  border-style: solid;
  box-shadow: 5px 5px 5px #000000; 
  
}
